<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style type="text/css">
        .form-card {
            position: absolute;
            bottom: 28%;
            left: 8%;
            background: rgba(255,255,255,0.9);
        }

        body {
               background-color: #fffae6;   
               background-repeat: repeat;
             }

        .container {
                   display: inline;
                  }
        .line{
            {
            width: 2px;
            height: 30px;
            background: #e68a00;
            margin: 0 3px;
            margin-top: 0px;
            margin-top: 18px;

        }
        }          
    </style>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>
        Book Budget Hotels Online - EaseMyTrip
    </title>

    <script src="https://kit.fontawesome.com/8a3b33a6c9.js" crossorigin="anonymous"></script>

</head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="http://localhost:10000" class="logo pull-left">
      <img class="logo-click" src="/images/Logo.png" alt="Online Travel Agency" title="Lowest Hotel Fairs in India">
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav" style="position: center">
      <li class="nav-item">
        <p style="position: center; font-size: 24px; font: bolder; color: #ff6600; margin-left: 550px;">DELHI</p>
      </li>
    </ul>
  </div>
</nav>

<div class="container-rt-list hotels-list" style="margin-top: 10px; margin-bottom: 10px;">
 <div class="container-rt-list-item" style="display: inline; margin-top: 10px; margin-bottom: 10px;">

   <div class="card mb-3 w-75 m-auto">
    <div class="row no-gutters">
    <div class="col-md-3">
      <img src="https://hotelstatic.happyeasygo.com/329618/Featured/Featured/WHDExt-pg_original.jpg?x-oss-process=image/resize,m_fill,w_260,h_240,limit_0/quality,q_80/sharpen,100/format,jpg/" data-original="https://hotelstatic.happyeasygo.com/329618/Featured/Featured/WHDExt-pg_original.jpg?x-oss-process=image/resize,m_fill,w_260,h_240,limit_0/quality,q_80/sharpen,100/format,jpg/" class="active" alt="">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title" style="font-weight: bolder; font-size: 28px">Dwarka-ITC Hotel Group</h5>
        <p style="color: yellow;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
        <p class="card-text" style="margin-left: 2px;">Plot No 3, Sector 10 District Centre
Dwarka, New Delhi-110075
India.</p>

        <div>
          <div style="background-color: grey; width: 100px; padding: 5px; color: white; text-align: center; display: inline; margin: 10px;">
            Free Wi-Fi
          </div>
          <div style="background-color: grey; width: 100px; padding: 5px; color: white; text-align: center; display: inline; margin: 10px;">
            Swimming Pool
          </div>

          <div style="background-color: grey; width: 100px; padding: 5px; color: white; text-align: center; display: inline; margin: 10px; margin: 10px;">
            Gym
          </div>

          <div style="background-color: grey; width: 100px; padding: 5px; color: white; text-align: center; display: inline; margin: 10px;">
            Restaurant
          </div>

          <div style="background-color: grey; width: 100px; padding: 5px; color: white; text-align: center; display: inline; margin: 10px;">
            Bar
          </div>
        </div>
        </div>
      </div>
    <div class="col-md-3 p-2" style="width: 20%; text-align: center;">
          
          <p style="margin: 3% 0 18% 0; font-weight: bold; font-size: 1.2rem; color: #ff6600">Special Deal</p>

          <p><span style="text-decoration: line-through;">Rs.13,298</span> <b>44% Off</b></p>

          <p><span style="font-size: 1.5rem; font-weight: bold;">Rs.7,738</span>/night</p>
          <a href="/payment/" class="btn m-auto" style="text-align: center; background-color: #ff6600; color: white;">BOOK NOW</a>
    </div>
   </div>
  </div>
 </div> 
            
            
 <div class="container-rt-list-item" style="margin-top: 10px; margin-bottom: 10px;">
    <div class="card mb-3 w-75 m-auto">
    <div class="row no-gutters">
    <div class="col-md-3">
       <img src="https://hotelstatic.happyeasygo.com/2403330/Featured/Featured/1_Facade_CCF_SH_Cor_CC2F_original.jpg?x-oss-process=image/resize,m_fill,w_260,h_240,limit_0/quality,q_80/sharpen,100/format,jpg/" data-original="https://hotelstatic.happyeasygo.com/2403330/Featured/Featured/1_Facade_CCF_SH_Cor_CC2F_original.jpg?x-oss-process=image/resize,m_fill,w_260,h_240,limit_0/quality,q_80/sharpen,100/format,jpg/" class="active" alt="">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title" style="font-weight: bolder; font-size: 28px">Shervani Nehru Place</h5>
        <p style="color: yellow;"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
        <p class="card-text" style="margin-left: 2px;">Shervani Nehru Place, B-20, Chirag Enclave, Nehru Place, New Delhi - 110048. </p>

        <div>
          <div style="background-color: grey; width: 100px; padding: 5px; color: white; text-align: center; display: inline; margin: 10px;">
            Free Wi-Fi
          </div>
          <div style="background-color: grey; width: 100px; padding: 5px; color: white; text-align: center; display: inline; margin: 10px;">
             Room Services
          </div>

          <div style="background-color: grey; width: 100px; padding: 5px; color: white; text-align: center; display: inline; margin: 10px; margin: 10px;">
            Gym
          </div>

          <div style="background-color: grey; width: 100px; padding: 5px; color: white; text-align: center; display: inline; margin: 10px;">
            Restaurant
          </div>

          <div style="background-color: grey; width: 100px; padding: 5px; color: white; text-align: center; display: inline; margin: 10px;">
            Bar
          </div>
        </div>
        </div>
      </div>
    <div class="col-md-3 p-2" style="width: 20%; text-align: center;">
          
          <p style="margin: 3% 0 18% 0; font-weight: bold; font-size: 1.2rem; color: #ff6600">Special Deal</p>

          <p><span style="text-decoration: line-through;">Rs.11,465</span> <b>44% Off</b></p>

          <p><span style="font-size: 1.5rem; font-weight: bold;">Rs.6,370</span>/night</p>

          <a href="/payment/" class="btn m-auto" style="text-align: center; background-color: #ff6600; color: white;">BOOK NOW</a>
    </div>
  </div>
 </div>
</div>     

</div>        

<div class="row" style="width: 80%; margin: auto; text-align: justify;">
      <div class="col-12 col-md-6 px-0 mb-2 px-lg-2">
        <div class="card mb-2 mb-lg-0 h-100">
        <div class="card-header">Why EaseMyTrip?</div>
        <div class="card-body">
        <div class="card-text">
          One of the leaders in the Indian travel industry, EaseMyTrip is the go-to platform for your travel needs. Find the best online hotel booking deals, and save money every time you hit the road for business or leisure. Visit the website to book on-the-go. Registration Reward, EMT Coupon, exclusive coupons for and hotel discounts, user-friendly interface and secur payments channel will help you enjoy a seamless cheap hotels booking experience.
          </div>
      </div>
      </div>
      </div>

      <div class="col-12 col-md-6 px-0 mb-2 px-lg-2">
      <div class="card mb-2 mb-lg-0 h-100">
        <div class="card-header">Hotel Booking with EaseMyTrip</div>
          <div class="card-body">
          <div class="card-text">
          Stop spending hours on the internet, scouting the best hotel booking offer, and visit EaseMyTrip for guaranteed best prices for hotel rooms. From budget to luxury, choose the hotel category that suits you the best and pick your accommodation from an array of options. Whether you are going on an adventure trip or heading out on business, EaseMyTrip has the perfect hotel for you. So, what are you waiting for? Book now!
          </div>
      </div>
      </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

 </body>

</html> 